{% extends "_base.html" %}


{% block conteudo %}
 <h3>Inserir Jogo:</h3>

 {% if erro%}

<p style="color: rebeccapurple;"> ⚠️{{ erro }}⚠️</p>

 {% endif%}

<form action="jogos_inserir.php" method="post" enctype="multipart/form-data">
    <input type="text" name="nome" placeholder="Nome">
    <br>
    <select name="estilo">
        <option value="acao">Ação</option>
        <option value="tiro">Tiro</option>
        <option value="rpg">RPG</option>
    </select>
    <br>
    Capa: <input type="file" name="capa">
    <br>
    <input type="submit" value="Gravar">

</form>


{% endblock  %}