{% extends "_base.html" %}

{% block conteudo %}

{% set estilos = {
    'acao': 'Ação',
     'tiro': 'Tiro',
      'rpg': 'RPG'
} %}

    <h3>Lista de Jogos</h3>

    <a href="jogos_inserir.php">➕ Novo Jogo</a>

    <table border="1" style="border-collapse: collapse;border-color: rgb(0, 90, 226);">
        <tr>
            <th>Nome</th>
            <th>Estilo</th>
        </tr>

        {% for jogo in jogos %}
        <tr>
            <td>{{ jogo.nome }}</td>
            <td>{{ estilos[jogo.estilo] ?? "Não encontrado"}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock%}